<div class="group-show">
    <div class="show-group-chat-back">
        <span class="group-show-group-chat-back">
            <%= link_to groups_path do %>
                back
            <% end %>
        </span>
    </div>

    <div class="chat-group-show-talk">
        <div class="comment-wrapper">
        <p>チャット一覧</p>
        <% @comments.each do |c| %>
            <div>
            <%= c.user.username unless c.user.blank? %>
            <br>
            <%= c.content %>
            </div>
            <br>
        <% end %>

        <% if user_signed_in? %>
            <%= form_with(model: [@group, @comment], local: true) do |f| %>
                <%= f.text_area :content %>
                <%= button_tag type: "submit" do %>
                    <i class="far fa-comments"></i> コメントする
                <% end %>
            <% end %>
        <% end %>
        </div>
    </div>
</div>